<%= render 'shared/navbar' %>
<%= render 'shared/menubar' %>


<h2 style="text-align: center">Your events</h2>

<br>
<div class="container p-4 justify-content-center mx-2" style="overflow:auto;">
    <div>
      <% current_user.events.each do |event| %>
        <div class="my-events-card">
        <div class="text-edit">

          <div class="text-field">
            <a href="<%= event_path(event) %>">
              <p class="event-card-date" style="color: #8BB484; font-size:14px;"><%= event.date.strftime("%A, %b %e %Y") %></p>
              <p style="font-size:18px; font-family: Playfair Display; color:#04151F; font-weight:bold;"><%= event.title %></p>
            </a>
          </div>
          <div class="links">
            <%= link_to "Edit", edit_event_path(event), class:"btn btn-default" %>

            <%# function to make sure chat-link only shows up, when there is at least one accepted booking, but only once %>
            <% accepted_any = 0 %>
            <% event.bookings.each do |booking| %>
              <% if booking.accepted? %>
                <% accepted_any += 1 %>
              <% end %>
            <% end %>

            <% if accepted_any > 0 %>
              <%# <div id="chat-link"><i class="far fa-comment-alt"></i> <%= link_to "Chat", chatroom_path(event.chatroom.id) %>
            <% end %>
          </div>

        </div>

        <p id="description"><%= event.description %></p>
        <br>
        <%# show this section ONLY when there are accepted bookings %>
        <% event.bookings.each do |booking| %>
          <% if booking.accepted? %>
            <div class="participants-your-events">
              <div class="participants-avatars">
                <%= link_to profile_path(booking.user) do %>

                  <% if booking.user.photo.attached? %>
                    <%= cl_image_tag booking.user.photo.key, class: "avatar" %>
                  <% else %>
                    <%= image_tag "https://images.pexels.com/photos/1983037/pexels-photo-1983037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "avatar" %>
                  <% end %> <%# end tag for if booking.user.photo  %>
                  <%= booking.user.first_name %>
                  <%= booking.user.last_name %>
                  <%= link_to "Uninvite", booking_path(booking, { status: 'declined' }), method: :patch, id:"reject" %>

                <% end %> <%# end tag for link_to  %>
              </div>
            </div>
          <% end %> <%# end tag for if booking.accepted?  %>
        <% end %> <%# end tag for event.bookings.each  %>


        <%# function to count the number of pending booking requests: %>
        <% num_bookings = 0 %>
        <% event.bookings.each do |booking| %>
          <% if booking.pending? %>
            <% num_bookings += 1 %>
          <% end %>
        <% end %>

        <% if event.number_of_participants <= accepted_any %>
          <h6>Your event has reached it's full capacity!</h6>
        <% else %>
          <h6><%= num_bookings %> <em><%= num_bookings == 1 ? "person waits" : "people wait" %></em> to join your event</h6>
        <% end %>

        <div class="booking-requests">
          <% event.bookings.each do |booking| %>
            <% if booking.pending? %>
              <li>
                <div class="first-line">
                  <%= link_to profile_path(booking.user) do %>
                    <% if booking.user.photo.attached? %>
                      <%= cl_image_tag booking.user.photo.key, class: "avatar" %>
                    <% else %>
                      <%= image_tag "https://images.pexels.com/photos/1983037/pexels-photo-1983037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "avatar" %>
                    <% end %>
                    <%= booking.user.first_name %>
                    <%= booking.user.last_name %>

                    <% if event.number_of_participants >= accepted_any %>
                      <%= link_to "Decline", booking_path(booking, { status: 'declined' }), method: :patch, id:"reject" %>
                      <%= link_to "Accept", booking_path(booking, { status: 'accepted' }), method: :patch, id:"accept" %>
                    <% end %>
                    <%# 3. use AJAX to make the change instanteneous without having to reload the page %>
                  <% end %> <%# end tag for link_to profile_path  %>
                </div>
                <div class="second-line">
                  <% if booking.message.nil? %>
                    <p><%= booking.user.first_name %> did not send you a message.</p>
                  <% else %>
                  <%= booking.message %>
                  <% end %>
                </div>
                <% unless booking == event.bookings.last %>
                  <div class="h-divider"></div>
                <% end %>
              </li>
            <% end %> <%# end tag for if booking.pending?  %>
          <% end %> <%# end tag for event.bookings.each  %>
        </div>

      </div> <%# closing tag for 'my-events-card'  %>
      <% end %>
    </div>
  <br><br>
</div>
<br>
