<% if user_signed_in? %>
<nav class="menubar smart-scroll fixed-bottom navbar-light bg-light">
  <a href="<%= root_path %>" class="nav__link <%= current_page?(root_path) ? "nav__link_active" : "" %>">
    <i class="fas fa-search"></i>
    <span class="nav__text">Search</span>
  </a>
  <a href="<%= root_path %>" class="nav__link">
    <i class="fas fa-envelope-open"></i>
    <span class="nav__text">Messages</span>
  </a>
  <a href="<%= root_path %>" class="nav__link">
    <i class="fas fa-ticket-alt"></i>
    <span class="nav__text">Bookings</span>
  </a>
  <a href="<%= root_path %>" class="nav__link">
    <i class="fas fa-plus"></i>
    <span class="nav__text">Create</span>
  </a>
  <a href="<%= root_path %>" class="nav__link">
    <i class="fas fa-user"></i>
    <span class="nav__text">Profile</span>
  </a>
  <% else %>
  <nav class="menubar smart-scroll fixed-bottom navbar-light bg-light" style="padding: 0px 50px;">
    <a href="#" class="nav__link">
      <i class="fas fa-search"></i>
      <span class="nav__text">Search</span>
    </a>
    <a href="<%= root_path %>" class="nav__link">
      <i class="fas fa-plus"></i>
      <span class="nav__text">Create</span>
    </a>
    <a href="#" class="nav__link">
      <i class="fas fa-user"></i>
      <span class="nav__text">Profile</span>
    </a>
  <% end %>
</nav>
