
<h3>Create your own event!</h3>

<div class="container-form p-3">
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :number_of_participants%>
    <%= f.input :languages, as: :check_boxes, collection: ["English", "French", "German", "Italian", "Portuguese", "Other"] %>
    <%= f.input :address %>
    <%= f.input :date %>
    <%= f.submit "Save & update", class: 'btn float-right w-100 mb-5' %>
  <% end %>
  <%= link_to "Delete",
        event_path(@event),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: 'float-right' %>
</div>
