<%= render 'shared/navbar' %>
<%= render 'shared/menubar' %>

<div class="container p-4">
  <h2 style="text-align: center; padding-bottom: 14px;">Check out our events</h1>
  <% @events.each do |event| %>
    <% if event.number_of_participants > event.bookings.accepted.count %>
    <% if event.date > Time.now %>
      <div class="card-product justify-content-center">
        <div class="card-product-infos">
          <p style="color: #8BB484; padding-bottom:10px;"><%= event.date.strftime("%a, %B %Y | %m:%M") %></p>
          <a href="<%= event_path(event) %>">
            <strong><%= event.title %></strong>
          </a>
          <div>
            <p><%= event.description %></p>
            <p><%= event.bookings.accepted.count %> people are joining us at <em><%= event.address %></em></p>
          </div>
        </div>
          <div class="event-picture-right" style="background-image: url('<%= EventType.find(event.event_type_id).image_url %>');">
        </div>
      </div>
    <% end %>
  <% end %>
  <% end %>
    <br><br><br>
</div>
