<h1 style="text-align: center">Check our events</h1>

<div class="container justify-content-center">
  <ul>
    <% @events.each do |event| %>
  <div class="card-product justify-content-center">
    <div class="card-product-infos">
        <li>
          <a href="<%= event_path(event) %>">
            <%= event.title %>
          </a>
          <div>
            <p><%= event.description %></p>
          </div>
          <div>
            <p><%= event.number_of_participants %> humans are joining us at <%= event.address %></p>
          </div>
        </li>
    </div>
      <%= image_tag "WavyLines4 (2).png" %>
  </div>
    <% end %>
  </ul>
</div>
