<%= render 'shared/menubar' %>
<%= render 'shared/navbar' %>


<div class="show-banner">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, class: "show-banner", 'aria-haspopup': true, 'aria-expanded': false %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80", class: "show-banner", 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>
  <h1><%= @event.title %></h1>
  <p>created by <em><%= @event.user.first_name %></em></p>
</div>

<div class="container py-5">
  <div class="main">
    <p><strong>What is planned</strong></p>
  </div>
  <div class="planned">
    <p><%= @event.description %></p>
  </div>

  <div class="location">
    <p><strong>Location</strong></p>
  </div>

  <div class="d-flex about">
    <div class="profile-pic">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "https://images.pexels.com/photos/1983037/pexels-photo-1983037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
    </div>

    <div class="d-flex about-text ml-3">
      <div>
        <p><%= @event.user.about %></p>
        <a href="#" style="color:#8BB484; font-size:18px;"><i class="fas fa-comment"><span class="ml-1">Chat</span></i></a>
      </div>
    </div>
  </div>

  <div class="participants">
    <div class="joined mb-2" style="float:right;">
      <% @event.number_of_participants.times do %>
        <i class="fa fa-user" aria-hidden="true"></i>
      <% end %>
    </div>

    <div class="request-button mt-3">
      <div style="color:white;">
        <%= link_to "Request to join", root_path, class: 'btn float-right w-100 mb-5' %>
        <br><br><br><br><br>
      </div>
    </div>
  </div>


</div>
