<div id="events-show">
  <%= render 'shared/menubar' %>
  <%= render 'shared/navbar' %>

  <% if @event.photo.attached? %>
    <div class="show-banner p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @event.photo.key, crop: :fill %>')">
      <h1 class="ml-2 mt-5" style="color:white;">
        <%= @event.title %>
      </h1>
      <p class="created-by mt-3" style="float:right; color:white;">
        created by <em><%= @event.user.first_name %></em>
      </p>
    </div>
  <% else %>
    <div class="show-banner p-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80')">
      <h1 class="ml-2 mt-5" style="color:white;">
        <%= @event.title %>
      </h1>
      <p class="created-by mt-3" style="float:right; color:white;">
        created by <em><%= @event.user.first_name %></em>
      </p>
    </div>
  <% end %>

  <div class="container pt-5 pr-5 pl-5 top-text">
    <div class="main">
      <p><strong>What is planned</strong></p>
    </div>
    <div class="main">
      <p><%= @event.languages %></p>

    </div>
    <div class="planned">
      <p><%= @event.description %></p>
    </div>
    <div class="main">
      <p><strong>Languages</strong></p>
    </div>
      <p><%= @event.languages %></p>
    <div class="planned">

    </div>
    <div class="location">
      <p><strong>Location</strong></p>
    </div>

  </div>

    <div
      id="map"
      style="width: 100%; height: 200px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  <div class="container p-5">
    <div class="d-flex about">
      <%= link_to profile_path(@event.user) do %>
        <div class="profile-pic">
          <% if @event.user.photo.attached? %>
            <%= cl_image_tag @event.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://images.pexels.com/photos/1983037/pexels-photo-1983037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>
      <% end %>

      <div class="d-flex about-text ml-3">
        <div>
          <p><%= @event.user.about %></p>
          <a href="#" style="color:#8BB484; font-size:18px;"><i class="fas fa-comment"><span class="ml-1">Chat</span></i></a>
        </div>
      </div>
    </div>

    <div class="participants">
      <div class="joined mb-2" style="float:right;">
        <% @event.number_of_participants.times do |count| %>
            <% if (count+1) > @num_accepted_participants %>
              <i class="opened fa fa-user" aria-hidden="true"></i>
            <% else %>
              <i class="reserved fa fa-user" aria-hidden="true"></i>
            <% end %>
        <% end %>
      </div>

      <div class="request-button mt-3" style="color:white;">
      <% if current_user != nil %>
        <% if current_user.id == @event.user.id %>
          <div class="modal-footer">
            <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?"}, class: 'float-left' %>
            <%= link_to "Edit", edit_event_path(@event), class: 'btn'%>
          </div>
        <% elsif @already_booked %>
          <%= link_to "Cancel request", event_booking_path(id: @matching_booking.id, event_id: @matching_booking.event.id), method: :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning w-100'%>
        <% else %>
          <%= simple_form_for [ @event, @booking ] do |e| %>
            <%= e.hidden_field current_user.id, value: current_user.id %>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn w-100" data-toggle="modal" data-target="#requestModal">
              Request to join
            </button>

            <!-- Modal -->
            <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
              <div class="modal-dialog" style="padding-top:150px;" role="document">
                <div class="modal-content" style="background-color:#8BB484; padding:10px;">
                  <div class="modal-header">
                    <h5 class="modal-title" style="color:white;" id="requestModalLabel">Write your message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="padding: 0px 16px 0px 16px;">
                    <%= e.input :message %>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn w-50">Send message</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      <%else%>
        <%= link_to "Login to request", new_user_session_path, class: 'btn w-100' %>
      <% end %>
        <br><br><br><br><br>
      </div>
    </div>

  </div>
</div>
