<%= render 'shared/navbar' %>
<%= render 'shared/menubar' %>

<div class="main text-center" style="margin: 20px 48px 20px 48px;">
  <h2>friendly team</h2>
  <div class="pt-3">
    <p style="font-size:16px;">Discover more about our mission & the people behind this.</p>
  </div>
</div>

<div class="main text-center">
  <div class="flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs flex flex-col items-center space-y-2 px-6" data-testid="PromoGridItem" style="padding: 0px 10px;">
    <div class="bubble mt-3 i9prqz1" style="margin-left: 86px; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_url "Bernie.png" %>');">
    </div>
    <h3 style="font-size:18px; padding-top: 10px;">Bernadette Diemer</h3>
    <p style="font-size:14px;">Chief Heroku Officer</p>
  </div>


  <div class="flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs flex flex-col items-center space-y-2 px-6" data-testid="PromoGridItem" style="padding: 0px 10px;">
    <div class="bubble mt-3 i9prqz1" style="margin-left: 86px; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_url "Linda.png" %>');">
    </div>
    <h3 style="font-size:18px; padding-top: 10px;">Linda Dao</h3>
    <p style="font-size:14px;">Chief Merge Officer</p>
  </div>

  <div class="flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs flex flex-col items-center space-y-2 px-6" data-testid="PromoGridItem">
    <div class="bubble mt-3 i9prqz1" style="margin-left: 86px; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_url "Virna.png" %>');">
    </div>
    <h3 style="font-size:18px; padding-top: 10px;">Virna Harri</h3>
    <p style="font-size:14px;">Chief Commit Officer</p>
  </div>

  <div class="flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs flex flex-col items-center space-y-2 px-6" data-testid="PromoGridItem">
    <div class="bubble mt-3 i9prqz1" style="margin-left: 86px; background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= asset_url "Nathalie.png" %>');">
    </div>
    <h3 style="font-size:18px; padding-top: 10px;">Nathalie Faber</h3>
    <p style="font-size:14px;">Chief Rails Devise Officer</p>
  </div>
</div>
<br><br><br><br>
