<%= render 'shared/navbar' %>
<%= render 'shared/menubar' %>

<div class="container-form p-5" style="height:100vh;">
  <h3 style="text-align: left; padding-bottom:20px;">Review <em><%= @event.user.first_name %>'s</em> event</h3>

  <p style="font-size:14px;">"<%= @event.title %>" from <em><%= @event.date.strftime("%A, %b %e %Y") %></em></p>
    <div class="form">
      <%= simple_form_for [ @event, @booking, @review ] do |f| %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", id:"review_rating" %>
        <%= f.input :comment %>
        <%= f.submit "Submit", class: "btn", style:"float:right;" %>
      <% end %>
    </div>
</div>
